.layout {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 51px 304px 263px 1fr;

  max-width: 548px;
  margin: 0 auto;

  @media only screen and (max-width: 325px) {
    grid-template-rows: 51px 304px 300px 1fr;
  }

  @media only screen and (min-width: 768px) {
    max-width: 768px;
    padding: 0 40px 40px;

    grid-template-rows: 460px 280px 88px;
    grid-template-columns: 1fr 1fr;
  }
}

.imgWrapper {
  position: relative;
  justify-self: center;
  align-self: center;
  display: flex;

  @media only screen and (min-width: 768px) {
    grid-column: 1 / 3;
  }
}

.planet {
  display: flex;
  width: 100%;
  height: 100%;
}

.geology {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  width: 62px;
  height: 75px;

  @media only screen and (min-width: 768px) {
    width: 102px;
    height: 125px;
  }

  //   @media only screen and (min-width: desktop) {
  //     width: 163px;
  //     height: 199px;
  //   }
}

.mercury {
  width: 111px;
  width: 111px;

  .geology {
    top: 87.5px;
  }

  @media only screen and (min-width: 768px) {
    width: 184px;
    height: 184px;

    .geology {
      top: 145px;
    }
  }
}

.venus {
  width: 154px;
  height: 154px;

  .geology {
    top: 108px;
  }

  @media only screen and (min-width: 768px) {
    width: 253px;
    height: 253px;

    .geology {
      top: 177px;
    }
  }
}

.earth {
  width: 173px;
  height: 173px;

  .geology {
    top: 119px;
  }

  @media only screen and (min-width: 768px) {
    width: 285px;
    height: 285px;

    .geology {
      top: 196px;
    }
  }
}

.mars {
  width: 129px;
  height: 129px;

  .geology {
    top: 95px;
  }

  @media only screen and (min-width: 768px) {
    width: 213px;
    height: 213px;

    .geology {
      top: 157px;
    }
  }
}

.jupiter {
  width: 224px;
  height: 224px;

  .geology {
    top: 144px;
  }

  @media only screen and (min-width: 768px) {
    width: 369px;
    height: 369px;

    .geology {
      top: 236px;
    }
  }
}

.saturn {
  width: 256px;
  height: 256px;

  .geology {
    top: 152px;
  }

  @media only screen and (min-width: 768px) {
    width: 422px;
    height: 422px;

    .geology {
      top: 250px;
    }
  }
}

.uranus {
  width: 176px;
  height: 176px;

  .geology {
    top: 125px;
  }

  @media only screen and (min-width: 768px) {
    width: 290px;
    height: 290px;

    .geology {
      top: 200px;
    }
  }
}

.neptune {
  width: 173px;
  height: 173px;

  .geology {
    top: 118px;
  }

  @media only screen and (min-width: 768px) {
    width: 285px;
    height: 285px;

    .geology {
      top: 195px;
    }
  }
}
