.wrapper {
  padding: 0 24px;

  div {
    height: 48px;
    padding: 0 24px;
    border: 1px solid var(--color-white-20);

    display: flex;
    align-items: center;
    justify-content: space-between;

    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }

  p {
    color: var(--color-white);
  }

  p:first-child {
    font-family: var(--spartan);
    text-transform: uppercase;

    opacity: 0.5;

    font-size: 11px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.727px;
  }

  p:last-child {
    font-family: var(--antonio);
    text-transform: uppercase;

    font-size: 20px;
    font-weight: 400;
    letter-spacing: -0.75px;
  }
}
